.sass-cache
.tmp
/node_modules
PROD.jpt
git.sh
index.html
globeproject.sublime-workspace
data/chinatown.html
data/chinatown_files
data/input/downloaded
parts/globe
graphics/graphic/js/templates/templates.js
